.slider {
    background: url(https://user-images.githubusercontent.com/110297/42118136-996b4a52-7bc6-11e8-8a03-ada078754715.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
input{
    width: 100%;
    border-radius: 5px;
    margin-top: 25px;
    padding: 5px;
}
.init{
    background: rgba(255,255,255,0.5);
    border-radius: 25px;
    text-align: center;
    color:black;
    padding: 30px;
    width: 100%;
    max-width: 350px;
}
.btn{
    width: 150px;
    background:rgb(255,255,255);
    color: black;
}