.slider {
    background: url(https://user-images.githubusercontent.com/110297/42118136-996b4a52-7bc6-11e8-8a03-ada078754715.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.content{
    
}