.root-container {
  width: 100%;
  height: 100vh;
  background: url(https://images.pexels.com/photos/750073/pexels-photo-750073.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
  background-size: cover;
  background-position: center;
}
.space{
  width: 100%;
  height: 100vh;
}
.icon{
  color: white;
  font-size: 40px;

 
}





@media (max-width:400px){
  .space{
    width: 100%;
    height: 80px;
  }}

